{% extends '../base/base_worker.html' %}
{% load static %}
{% load widget_tweaks %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/director/create_room.css' %}">
    <link rel="stylesheet" href="{% static 'css/falcon/flatpickr.min.css' %}">
{% endblock link %}
{% block section %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        {% comment %} <div class="img"
      style="background-image: url({% static 'images/restaurant.jpg' %});"></div> {% endcomment %}
                        <div class="login-wrap p-4 p-md-5" style=" width:100%">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Add free dates</h3>
                                </div>
                            </div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                            {% endif %}
                            <form class="signin-form" method="POST">
                                <div class="">{% csrf_token %}</div>
                                <div class="form-row mb-3">
                                    <label class="form-label" for="timepicker2">Select Time Range</label>
                                    <input class="form-control datetimepicker"
                                           id="timepicker2"
                                           name="datepicker"
                                           value="{{ dates_list }}"
                                           type="text"
                                           placeholder="d/m/y to d/m/y"
                                           data-options='{"mode":"range","dateFormat":"m-d-y","disableMobile":true}'/>
                                    <div class="block_error" style=""></div>
                                </div>
                                <div class="form-row" style="">
                                    <div class="form-group col-md-12 mb-1">
                                        <label style="margin-bottom: 0px;" class="label" for="password">Setup worker</label>
                                        <div class="">{{ form.setup_worker|add_class:"form-control" }}</div>
                                        <div class="form-error">{{ form.setup_worker.errors }}</div>
                                    </div>
                                </div>
                                <div class="form-group mt-3 ">
                                    <button type="submit"
                                            class="form-control btn btn-primary rounded submit px-3 button_create ">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <script src="{% static 'js/popper.js' %}"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
    <script type="text/javascript">
        function isBigger(d1, d2) {
            return d1 >= d2
          }


        var timepicker2 = document.getElementById("timepicker2")
        timepicker2.onchange = (e) =>{
            var value = e.target.value.split(" to ")
            if (value.length == 2){
                console.log(value)
                var firstDate = value[0].trim()
                var block_error = document.querySelector(".block_error")
                var button_create = document.querySelector(".button_create")
                if (! isBigger(new Date(firstDate), new Date())){
                    block_error.style.display = "block"
                    block_error.innerHTML = `<p style="color:red; margin-bottom:-10px">Date is in the past</p>`
                    button_create.classList.add("disabled")

                    button_create.onclick = (e)=>{e.preventDefault()}
                }else{
                    block_error.style.display = "none"
                    button_create.classList.remove("disabled")
                    button_create.onclick = (e)=>{}
                }
            }
        }
    </script>
    <script src="{% static 'js/flatpickr.js' %}"></script>
{% endblock section %}
