{% extends '../base/base_worker.html' %}
{% load static %}
{% load widget_tweaks %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/director/create_room.css' %}">
    <link rel="stylesheet" href="{% static 'css/falcon/flatpickr.min.css' %}">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
{% endblock link %}
{% block section %}
    <div class="container">
        <div class="table-responsive scrollbar">
            {% if free_dates %}
                <table class="table table-hover table-striped overflow-hidden">
                    <thead>
                        <tr >
                            <th scope="col">Date</th>
                            <th scope="col">Setup worker</th>
                            <th scope="col">Approved</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for free_day in free_dates %}
                            <tr style="text-align: left;">
                                <td class="text-nowrap">
                                    <div class="d-flex align-items-center">
                                        {% if free_day.start_date == free_day.end_date %}
                                            <div class="ms-2">{{ free_day.start_date|date:"d M, Y"  }}</div>
                                        {% else %}
                                            <div class="ms-2">{{ free_day.start_date|date:"d M, Y"  }} - {{ free_day.end_date|date:"d M, Y"  }}</div>
                                        {% endif %}
                                    </div>
                                </td>
                                {% if free_day.setup_worker %}
                                    <td class="text-nowrap">
                                        <a style="font-weight: bold;"
                                           href="{% url 'profile'  free_day.setup_worker.id %}">{{ free_day.setup_worker }}</a>
                                    </td>
                                {% else %}
                                    <td class="text-nowrap">No one</td>
                                {% endif %}
                                <td >
                                    {% if free_day.approved == "True" %}
                                        <span style="padding:5px" class="badge badge-success">Approved
                                            <h6 style="margin-left: 10px; display: inline;">
                                                <i class="bi bi-check bi--lg"></i>
                                            </h6>
                                        </span>
                                    {% elif free_day.approved == "null" %}
                                        <span style="padding:5px" class="badge badge-secondary">Waiting
                                            <h6 style="margin-left: 10px; display: inline;">
                                                <i class="bi bi-hourglass"></i>
                                            </h6>
                                        </span>
                                    {% else %}
                                        <span style="padding:5px" class="badge badge-danger">Refused
                                            <h6 style="margin-left: 10px; display: inline;">
                                                <i class="bi bi-x"></i>
                                            </h6>
                                        </span>
                                    {% endif %}
                                </td>
                                <td >
                                    {% if free_day.approved == "null" %}
                                        <a class="btn btn-outline-info me-1 mb-1 "
                                        style="padding:5px 10px 5px 10px"
                                        href="{% url 'edit_free_days' free_day.id %}">Edit</a>
                                    {% else %}
                                        <a class="btn btn-outline-info me-1 mb-1 disabled"
                                        style="padding:5px 10px 5px 10px"
                                        href="{% url 'edit_free_days' free_day.id %}">Edit</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You don't have any free date</p>
            {% endif %}
        </div>
    </div>
{% endblock section %}
