{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block link %}
        {% endblock link %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li class="sub-menu-parent" tab-index="0">
                        <a href="#">Menu Item 1</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Sub Item 1</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 2</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 3</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-parent" tab-index="0">
                        <a href="#">Menu Item 2</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Sub Item 1</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 2</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 3</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 4</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 5</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 6</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-parent" tab-index="0">
                        <a href="#">Menu Item 2</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Sub Item 1</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 2</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 3</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 4</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 5</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 6</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-parent" tab-index="0">
                        <a href="#">Menu Item 3</a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">Sub Item 1</a>
                            </li>
                            <li>
                                <a href="#">Sub Item 2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sub-menu-parent" style="">
                        <a style="text-decoration: none; " class="">Profile</a>
                        <ul class="sub-menu">
                            <li class="sub-menu-item">
                                <img src="{% static 'images/user.png' %}" width="20"  alt="">
                                <a style="margin-left: -15px;" href="#">Profile</a>
                            </li>
                            <li class="sub-menu-item">
                                <img src="{% static 'images/logout.png' %}" width="20"  alt="">
                                <a style="margin-left: -15px;" href="{% url 'logout'  %}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>
        <section>
            {% block section %}
            {% endblock section %}
        </section>
    </body>
</html>
