<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block link %}
        {% endblock link %}
    </head>
    <body>
        <div class="top_block" style="display: flex;justify-content:space-between">
            <div class="block"></div>
            <div class="button_wrapper" style="background: #9ED2C6;  padding:10px">
                <a style="text-decoration: none; color:red" href="{% url 'logout'  %}">logout</a>
            </div>
        </div>
        {% block section %}
        {% endblock section %}
    </body>
</html>
