{% extends '../base/base_director.html' %}
{% load static %}
{% load widget_tweaks %}
{% load director_tags %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/director/create_room.css' %}">
{% endblock link %}
{% block section %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        {% comment %} <div class="img"
      style="background-image: url({% static 'images/restaurant.jpg' %});"></div> {% endcomment %}
                        <div class="login-wrap p-4 p-md-5" style=" width:100%">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Create Room</h3>
                                </div>
                            </div>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}<div class="alert alert-danger" role="alert">{{ error }}</div>{% endfor %}
                            {% endif %}
                            <form class="signin-form" method="POST">
                                <div class="">{% csrf_token %}</div>
                                <div class="form-row" style="">
                                    <div class="form-group col-md-12 mb-3">
                                        <label style="margin-bottom: 0px;" class="label" for="password">Name</label>
                                        <div class="">{{ form.name|add_class:"form-control" }}</div>
                                    </div>
                                </div>
                                <div class="form-row" style="">
                                    <div class="form-group col-md-12 mb-1 add_room_work_wrapper">
                                        <label style="margin-bottom: 0px;" class="label" for="password">Room Work</label>
                                        <div class="block mt-1 mb-3">
                                            {% for elem in room_works %}
                                                <div class="block_aditional_work" style='position: relative;'>
                                                    <div class="block__item mb-2">
                                                        <input style="height:40px"
                                                               name="{{ elem.id|room_component_id }}"
                                                               class="form-control"
                                                               type="text"
                                                               value="{{ elem.name }}">
                                                    </div>
                                                    <div class="block_remove"
                                                         style="position: absolute;
                                                                top:0;
                                                                right:0;
                                                                margin-top: 8px;
                                                                margin-right: 8px;">
                                                        <a href="{% url 'delete_room_work' room.slug elem.slug %}">
                                                            <img src="{% static 'images/remove.png' %}" width="24px" alt="">
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="add_work-block mb-3"
                                             style="display: flex; justify-content:space-between; align-items:center">
                                            <div class="add_work-item">Add work</div>
                                            <div class="add_work-item add_work_for_room">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     width="24"
                                                     height="24"
                                                     fill="currentColor"
                                                     class="bi bi-plus-circle"
                                                     viewBox="0 0 16 16">
<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit"
                                            class="form-control btn btn-primary rounded submit px-3">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% comment %} <script src="{% static 'js/jquery.min.js' %}"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <script src="{% static 'js/popper.js' %}"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
    <script type="text/javascript">
        var add_work_for_room = document.querySelector(".add_work_for_room")
        var count = 0
        add_work_for_room.onclick = () =>{
            var add_work_block = document.querySelector(".add_work-block")
            const newElement = document.createElement("div");
            newElement.innerHTML = `<div class="block_aditional_work mb-3" style="position: relative">
                <input style="height:40px; background: #FAF3E5;" class="form-control" type="text" name="room_component_${count}" id="room_component_${count}">
                <div class="block_remove" style="position: absolute; right:0; top:0; margin-top: 8px; margin-right: 8px;">
                    <img id="remove" width="24px" src="{% static 'images/remove.png' %}" alt="">
                </div>
            </div>`;
            add_work_block.before(newElement); //в середину
            count += 1;
        }
    </script>
{% endblock section %}
