{% extends '../base/base_director.html' %}
{% load static %}
{% load widget_tweaks %}
{% load director_tags %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/director/room_list.css' %}">
{% endblock link %}
{% block section %}
    <div class="container mt-3" style="">
        <div class="block-wrapper">
            <div>
                <div class="block_search" style="display: flex; ">
                    <input class="form-control"
                           placeholder="Search (by email)"
                           type="text"
                           id="input"/>
                    <a class="btn btn-primary" id="search_button" href="">Search</a>
                </div>
                <ul id="suggestions" type="none">
                </ul>
            </div>
            {% if shift_works %}
                {% for shift in shift_works %}
                    <div class="card mb-2">
                        <div class="card-header">Shift: {{ shift.worker_shift.shift }}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ shift.worker_shift.user.full_name }}</h5>
                            <div class="block" style="display: flex; justify-content:space-between">
                                <div class="sp"></div>
                                <div class="buttons">
                                    <a href="#"
                                       id="room_component"
                                       name="{{ shift.id|room_component_id }}"
                                       class="btn btn-info">Components</a>
                                    <a href="{% url 'edit_shift' shift.worker_shift.id %}"
                                       class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete_worker_shift' shift.worker_shift.id %}"
                                       class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                            <div class="d-none"
                                 style="display: grid;
                                        grid-template-columns: 1fr 2fr;"
                                 id="{{ shift.id|room_component_id }}">
                                {% for elem in shift.worker_job.all %}
                                    <div class="block mb-3" style="">
                                        <div class="block_inner"
                                             style="display: flex; align-items:center; gap:15px">
                                            <div class="block_icon">
                                                {% if elem.done %}
                                                    <img src="{% static 'images/plus.png' %}" width="24px" alt="">
                                                {% else %}
                                                    <img src="{% static 'images/minus.png' %}" width="24px" alt="">
                                                {% endif %}
                                            </div>
                                            <div class="block_text">{{ elem.room_work.name }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There is no any shift for this worker</p>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript">
        block_wrapper = document.querySelector(".block-wrapper")
        if (block_wrapper){
            block_wrapper.onclick = (e) =>{
                if (e.target.id == "room_component"){
                    var hidden_block = document.getElementById(e.target.name)
                    if (hidden_block.className == "d-grid"){
                        hidden_block.className = "d-none"
                    }else{
                        hidden_block.className = "d-grid"
                    }
                }
            }
        }
        "use strict";
        let inputField = document.getElementById('input');
        let ulField = document.getElementById('suggestions');
        inputField.addEventListener('input', changeAutoComplete);
        ulField.addEventListener('click', selectItem);
        function changeAutoComplete({ target }) {
            let data = target.value;
            ulField.innerHTML = ``;
            if (data.length) {
            let autoCompleteValues = autoComplete(data);
            autoCompleteValues.forEach(value => { addItem(value); });
            }
        }
        function autoComplete(inputValue) {
            let destination = JSON.parse("{{aval_workers|escapejs}}")
            return destination.filter(
            (value) => value.toLowerCase().includes(inputValue.toLowerCase())
            );
        }
        
        function addItem(value) {
            ulField.innerHTML = ulField.innerHTML + `<li class="search_list_item">${value}</li>`;
        }
        
        function selectItem({ target }) {
            if (target.tagName === 'LI') {
            inputField.value = target.textContent;
            ulField.innerHTML = ``;
            }
        }

        var search_button = document.getElementById('search_button');
        search_button.onclick = (e) =>{
            e.preventDefault()
            console.log(input.value)
            var url = `{% url 'search_worker_shift' 123  %}`
            document.location.href = url.replace('123', input.value); 
        }


    </script>
{% endblock section %}
